@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-bag1:before {
	content: "\e000";
}
.flaticon-boat1:before {
	content: "\e001";
}
.flaticon-book16:before {
	content: "\e002";
}
.flaticon-church1:before {
	content: "\e003";
}
.flaticon-cocktail3:before {
	content: "\e004";
}
.flaticon-coffee2:before {
	content: "\e005";
}
.flaticon-flat:before {
	content: "\e006";
}
.flaticon-mountains:before {
	content: "\e007";
}
.flaticon-pharmacy:before {
	content: "\e008";
}
.flaticon-pins20:before {
	content: "\e009";
}
.flaticon-pins25:before {
	content: "\e00a";
}
.flaticon-pins27:before {
	content: "\e00b";
}
.flaticon-pins42:before {
	content: "\e00c";
}
.flaticon-pins46:before {
	content: "\e00d";
}
.flaticon-pins82:before {
	content: "\e00e";
}
.flaticon-pins9:before {
	content: "\e00f";
}
.flaticon-soccer1:before {
	content: "\e010";
}
.flaticon-tent:before {
	content: "\e011";
}
